.images{
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

.left-control{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
}

.right-control{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
}
